### Fandom Analysis
#### Kristen Shen
#### Masther Thesis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("fandomRanking.csv") 
df

,No.,Pairing,Media,New Works
0,1,Sirius Black/Remus Lupin,Harry Potter,12516
1,2,"Evan ""Buck"" Buckley/Eddie Diaz",9−1−1,12272
2,3,Aziraphale/Crowley,Good Omens,11043
3,4,Bakugou Katsuki/Midoriya Izuku,My Hero Academia,9555
4,5,Dazai Osamu/Nakahara Chuuya,Bungou Stray Dogs,8839
...,...,...,...,...
96,97,Lestat de Lioncourt/Louis de Pointe du Lac,Interview with the Vampire,1894
97,98,Jeon Wonwoo/Kim Mingyu,SEVENTEEN (Band),1878
98,99,Gojo Satoru/Itadori Yuuji,Jujutsu Kaisen,1877
99,100,Iwaizumi Hajime/Oikawa Tooru,Haikyuu!!,1872
100,101,Daemon Targaryen/Rhaenyra Targaryen,House of the Dragon,1870

In [5]:
# Group by Media and sum New Works
media_totals = df.groupby("Media")["New Works"].sum().reset_index()

In [6]:
# Sort from highest to lowest
media_totals = media_totals.sort_values(by="New Works", ascending=False)

In [7]:
# Show the top 10
media_totals.head(10)

                Media  New Works
17       Harry Potter      59860
31   My Hero Academia      23514
18       Hazbin Hotel      21889
0               9−1−1      18652
25     Jujutsu Kaisen      15311
13     Genshin Impact      15294
9   Bungou Stray Dogs      11330
28             Marvel      11288
14         Good Omens      11043
48       Supernatural      10875